.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 87px 8px 0 570px;
}

.u-section-1 .u-image-1 {
  width: 382px;
  animation-duration: 1000ms;
  height: 301px;
  margin: -160px auto 0 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: -312px 519px 0 462px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 107px 8px 0 462px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 0 12px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 158px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 93px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-1 {
    height: 268px;
    width: 367px;
    margin-top: 24px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -400px;
    margin-right: 294px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 406px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: 35px;
  }
}