.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-image-1 {
  width: 467px;
  height: 312px;
  animation-duration: 1000ms;
  margin: 115px 19px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  animation-duration: 1000ms;
  margin: -312px 624px 0 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: -65px 496px 0 516px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 27px 19px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1765px;
  }

  .u-section-1 .u-image-1 {
    height: 250px;
    width: 369px;
    margin-top: 160px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -309px;
    margin-right: 14px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -30px;
    margin-right: -22px;
    margin-left: 318px;
  }

  .u-section-1 .u-text-3 {
    margin: 293px -14px 26px;
  }
}