
/***********scrollbar************/



/* width */
::-webkit-scrollbar {
  width: 26px;
	background: #0d0d0d;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 15px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	height: 10em !important;
  background:  #333333;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}


@media only screen and (max-width: 600px){
  .u-section-1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.561)),url("images/kuber.jpeg");
    background-position: 20% 20%;
  }
  .u-section-rathi{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("images/quantum3.jpg");
    background-position: 20% 20%;
  }
}

.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.603)), url("images/kuber.jpeg");
  background-position: 50% 50%;

}
.u-section-rathi {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/quantum3.jpg");
  background-position: 50% 50%;

}

.u-section-1 .u-sheet-1 {
  min-height: 963px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 679px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 147px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -67px 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 48px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 119px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 57.69% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 717px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 82px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 88.4% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 566px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 402px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 338px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }
 } .u-section-2 {
   width: 1024px;
  align-content: center;
  padding-left: 300px; 
  padding-right: 200px;
}

.u-section-2 .u-sheet-1 {
  width: 1000px;

  background-image:url(q.jpg) ;
  background-size: 1024px;

  min-height: 653px;
}

.u-section-2 .u-group-1 {
  min-height: 597px;
  width: 932px;
  margin: 80px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 110px 0 109px;
}

.u-section-2 .u-text-2 {
  width: 717px;
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 46px 64px 0;
}

.u-section-2 .u-btn-1 {
  margin: 46px auto 0;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    min-height: 315px;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    width: 591px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    width: 591px;
  }

  .u-section-2 .u-line-1 {
    width: 47px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 553px;
    margin-top: 68px;
    margin-bottom: 68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
    width: 453px;
  }

  .u-section-2 .u-text-2 {
    width: 453px;
  }

  .u-section-2 .u-line-1 {
    width: 36px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-group-1 {
    min-height: 587px;
    margin-top: 80px;
    margin-bottom: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
    width: 425px;
  }

  .u-section-2 .u-text-2 {
    width: 425px;
  }

  .u-section-2 .u-line-1 {
    width: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 27px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-group-1 {
    min-height: 797px;
    margin-top: 61px;
    margin-bottom: 61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
    width: 275px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 28px;
    transform-origin: right center 0;
  }

  .u-section-2 .u-text-3 {
    width: 268px;
    margin-left: 36px;
    margin-right: 36px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 80px auto 60px 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/WhatsAppImage2020-11-29at11.15.15AM3.jpeg");
  min-height: 482px;
  background-position: 50% 50%;
}

.u-section-3 .u-shape-1 {
  width: 1080px;
  height: 422px;
  margin: 30px auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 628px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  width: 455px;
  height: 714px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.45);
  object-position: 41.62% 50%;
  background-position: 2.87% 50%;
  margin: -65px auto -21px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 628px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  margin: 45px 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 38px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 45px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 511px;
  }

  .u-section-3 .u-shape-1 {
    width: 891px;
    height: 451px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-3 .u-image-2 {
    width: 375px;
    height: 611px;
    position: relative;
    margin-right: 25px;
    margin-bottom: 139px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 639px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1488px;
  }

  .u-section-3 .u-shape-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 775px;
  }

  .u-section-3 .u-image-2 {
    width: 293px;
    height: 456px;
    margin-top: -82px;
    margin-right: 13px;
    margin-bottom: 400px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 883px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1959px;
  }

  .u-section-3 .u-shape-1 {
    width: 494px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-3 .u-image-2 {
    width: 446px;
    height: 588px;
    margin-top: -77px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 34px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-3 .u-image-1 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-1 {
    width: 308px;
    height: 260px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-3 .u-image-2 {
    width: 264px;
    height: 390px;
    margin-top: -70px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 840px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 190px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 761px;
}

.u-section-4 .u-image-1 {
  width: 521px;
  height: 376px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-1 {
  height: 372px;
  width: 522px;
  margin: -340px 0 0 auto;
}

.u-section-4 .u-text-1 {
  margin-top: 27px;
  margin-right: 84px;
  margin-left: 36px;
}

.u-section-4 .u-text-2 {
  margin: 26px 84px 0 36px;
}

.u-section-4 .u-link-1 {
  padding-bottom: 2px;
  margin: 30px auto 67px 36px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 761px;
}

.u-section-4 .u-image-2 {
  width: 521px;
  height: 376px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-2 {
  height: 372px;
  width: 522px;
  margin: -340px 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin-top: 27px;
  margin-right: 84px;
  margin-left: 36px;
}

.u-section-4 .u-text-4 {
  margin: 26px 84px 0 36px;
}

.u-section-4 .u-link-2 {
  padding-bottom: 2px;
  margin: 30px auto 67px 36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-image-1 {
    width: 430px;
    position: relative;
  }

  .u-section-4 .u-shape-1 {
    width: 430px;
    position: relative;
  }

  .u-section-4 .u-text-1 {
    margin-left: 30px;
    margin-right: 69px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
    margin-right: 69px;
    position: relative;
  }

  .u-section-4 .u-link-1 {
    position: relative;
    margin-left: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 430px;
    position: relative;
  }

  .u-section-4 .u-shape-2 {
    width: 430px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 69px;
    margin-left: 30px;
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 69px;
    margin-left: 30px;
  }

  .u-section-4 .u-link-2 {
    position: relative;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-4 .u-image-1 {
    width: 329px;
  }

  .u-section-4 .u-shape-1 {
    width: 330px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 23px;
    margin-right: 53px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 23px;
    margin-right: 53px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 23px;
  }

  .u-section-4 .u-image-2 {
    width: 329px;
  }

  .u-section-4 .u-shape-2 {
    width: 330px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 53px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 53px;
    margin-left: 23px;
  }

  .u-section-4 .u-link-2 {
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-4 .u-image-1 {
    width: 309px;
  }

  .u-section-4 .u-shape-1 {
    width: 309px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 17px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 17px;
    margin-right: 40px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 17px;
  }

  .u-section-4 .u-image-2 {
    width: 309px;
  }

  .u-section-4 .u-shape-2 {
    width: 309px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 40px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 40px;
    margin-left: 17px;
  }

  .u-section-4 .u-link-2 {
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-4 .u-image-1 {
    width: 259px;
  }

  .u-section-4 .u-shape-1 {
    width: 259px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 11px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 11px;
    margin-right: 25px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 11px;
  }

  .u-section-4 .u-image-2 {
    width: 259px;
  }

  .u-section-4 .u-shape-2 {
    width: 259px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 25px;
    margin-left: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 25px;
    margin-left: 11px;
  }

  .u-section-4 .u-link-2 {
    margin-left: 11px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-5 .u-group-1 {
  min-height: 240px;
  width: 936px;
  margin: 46px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  width: 717px;
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 25px;
}

.u-section-5 .u-shape-1 {
  height: 1028px;
  width: 1048px;
  margin: 20px auto 0 46px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -997px auto 60px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/38834946-02.jpeg");
  min-height: 982px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/WhatsAppImage2020-11-29at11.15.15AM7.jpeg");
  min-height: 582px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/WhatsAppImage2020-11-29at11.15.15AM.jpeg");
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/WhatsAppImage2020-11-29at11.15.15AM6.jpeg");
  min-height: 400px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    width: 591px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
  }

  .u-section-5 .u-shape-1 {
    width: 864px;
    position: relative;
    margin-left: 38px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 964px;
  }

  .u-section-5 .u-image-2 {
    min-height: 643px;
  }

  .u-section-5 .u-image-3 {
    min-height: 321px;
  }

  .u-section-5 .u-image-4 {
    min-height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
    margin-top: 44px;
  }

  .u-section-5 .u-shape-1 {
    width: 662px;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-5 .u-group-1 {
    min-height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: 425px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
    margin-top: 45px;
    margin-left: 253px;
  }

  .u-section-5 .u-shape-1 {
    height: 2299px;
    width: 470px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -2258px;
    margin-bottom: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    width: 28px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 2309px;
    width: 300px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -2268px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/b0a17bccfb4b3f7aa02489fde6165a9a.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 715px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 20px 0 55px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 605px;
  background-image: none;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 31px 34px 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  margin: 19px 34px 55px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 605px;
  background-image: none;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 31px 34px 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 20px 34px 55px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }
}