.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/-min1.jpg");
  background-position: 50% 50%;
  min-height: 1019px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 100px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 247px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  animation-duration: 1000ms;
  margin: 0 -30px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  animation-duration: 1000ms;
  margin: -336px 580px 0 50px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 7px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 649px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: -12px -30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 7.5rem;
  animation-duration: 1000ms;
  margin: -516px 80px 60px calc(((100% - 1140px) / 2) + 1012px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 144px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 347px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1884px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 104px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 228px;
    margin-top: 108px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -316px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-top: 143px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1408px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 28.8px;
    margin: 77px -31px -38px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.6875rem;
    width: auto;
    margin-top: -1383px;
    margin-right: calc(((100% - 340px) / 2) + -36px);
    margin-left: calc(((100% - 340px) / 2) + 261px);
  }
}