text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
  }
  #chart {
    position: relative;
    width: 500px;
    height: 500px;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  #question {
    position: relative;
    font-size: 2rem!important;
    width: 400px;
    height: 500px;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
  #question h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .spinning{
    margin-top: 2rem;
    padding: .5rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 3px solid #fff;
  }
  .spinning h1, .spinning h2{
    color: #fff;
  }